/IAppointmentHandler.class
/IDoctorHandler.class
/IMedicineHandler.class
/IPatientHandler.class
/IPharmacistHandler.class
/IPrescriptionHandler.class
/IStaffHandler.class
/ITreatmentHandler.class
/IUser.class
